{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
{% if session.get("username") %}

<div class="dashboard">

<h1>Welcome, {{ session.get("username").capitalize() }} </h1>
<p class="sub">To ExpenseFlow</p>
<p class="sub">Your personal expense overview</p>


<div class="cards">

<div class="card">
<h3>Total Expenses</h3>
<p class="amount">₹ {{ total_expense }}</p>
</div>

<div class="card">
<h3>You Owe</h3>
<p class="amount owe">₹ {{ you_owe }}</p>
</div>

<div class="card">
<h3>Owed To You</h3>
<p class="amount receive">₹ {{ owed_to_you }}</p>
</div>

<div class="card">
<h3>Total Transactions</h3>
<p class="amount">{{ total_transactions }}</p>
</div>

</div>


<div class="activity">

<h2>Recent Expenses</h2>

<table>

<tr>
<th>Date</th>
<th>Title</th>
<th>Amount</th>
<th>Tag</th>
</tr>

{% for e in recent_expenses %}
<tr>
<td>{{ e[4] }}</td>
<td>{{ e[2] }}</td>
<td>₹{{ e[3] }}</td>
<td>{{ e[1] }}</td>
</tr>
{% else %}
        <tr>
            <td colspan="6" style="text-align: center;">No expenses found.</td>
        </tr>
{% endfor %}


</table>

</div>

</div>

{% else %}

<div class="login-message">

<h1>ExpenseFlow</h1>
<p>Please login to access your financial dashboard.</p>

<a href="/login" class="btn">Login</a>

</div>

{% endif %}

{% endblock %}